<div class="controls">
  <div class="dpad">
    <button class="btn up" (click)="move(direction.Up)">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
    <div class="middle">
      <button class="btn left" (click)="move(direction.Left)">
        <i class="fa-solid fa-arrow-left"></i>
      </button>

      <button class="btn center"></button>

      <button class="btn right" (click)="move(direction.Right)">
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>
    <button class="btn down" (click)="move(direction.Down)">
      <i class="fa-solid fa-arrow-down"></i>
    </button>
  </div>

  <ng-container *ngIf="snapshot">
    <button class="btn pause" (click)="togglePlayPause()" [disabled]="snapshot.state === gameState.GameOver">
      <i *ngIf="!isPaused" class="fa-solid fa-pause"></i>
      <i *ngIf="isPaused" class="fa-solid fa-play"></i>
    </button>
  
    <button class="btn mute" (click)="toggleMute()" [disabled]="snapshot.state === gameState.GameOver">
      <i *ngIf="!isMuted" class="fa-solid fa-volume-up"></i>
      <i *ngIf="isMuted" class="fa-solid fa-volume-mute"></i>
    </button>
  </ng-container>
</div>

