<div class="board-wrapper">

    <!-- Start screen -->
    <ng-container *ngIf="isStart">
        <div class="overlay start-screen" (click)="startGame()">
            <h1 class="title">SNAKE GAME</h1>
            <p class="subtitle">Game Boy Edition</p>
            <p class="blink">Press Start</p>
        </div>
    </ng-container>

    <!-- Board component for the Snake game -->
    <div class="board" [class.blur]="isGameOver">
        <ng-container *ngFor="let cell of cells; let i = index">
            <div class="board-grid"
                [ngClass]="getCellClasses(i)"
                [class]="isSnakeBody(i) ? snakeColorClass() : ''"
            >
            </div>
        </ng-container>
    </div>

    <!-- Game-over Overlay -->
     <ng-container *ngIf="isGameOver">
         <div class="game-over-overlay">
             <div class="game-over-box">
                 <h1 class="game-over-title">!GAME OVER¡</h1>
                 <p class="score">SCORE {{ snapshot.score }}</p>
                 <p class="high-score">HIGH SCORE {{ snapshot.highScore }}</p>     
                 <button class="game-over-button" (click)="restart()">
                     <i class="game-over-restart fa-solid fa-play">START</i>
                 </button>
             </div>
         </div>
     </ng-container>
</div>
