<div class="board">
    <ng-container *ngFor="let cell of cells; let i = index">
        <div class="board-grid"
            [ngClass]="
            {
                'snake-head': isSnakeHead(i),
                'snake-head-up': isSnakeHead(i) && direction === Direction.Up,
                'snake-head-down': isSnakeHead(i) && direction === Direction.Down,
                'snake-head-left': isSnakeHead(i) && direction === Direction.Left,
                'snake-head-right': isSnakeHead(i) && direction === Direction.Right,
                'snake-body': isSnakeCell(i),
                'snake-tail': isSnakeTail(i),
                'food': isFoodCell(i)
            }"
            [class]="isSnakeCell(i) ? getColorSnake : ''"
        >
        </div>
    </ng-container>
</div>
