@use 'functions' as *;
@use 'vars' as *;
@use 'mixins' as *;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: $color-bg-light;
    font-family: $font-family-main;
    overscroll-behavior: none;
    touch-action: manipulation;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: calculateRem(320px);
    padding: calculateRem(16px);
    background-color: $color-bg-console;
    border: calculateRem(3px) solid $color-border-panel;
    border-radius: $radius-md;
    box-shadow: $shadow-soft;
}
