<div class="game-container">
    <app-score
        [lives]="lives"
        [score]="score"
        [highScore]="highScore"
    ></app-score>
    <app-board
        #boardRef    
        [externalDirection]="externalDirection"
        [isPaused]="isPaused"
        (livesChange)="updateLives($event)"
        (scoreChange)="updateScore($event)"
    ></app-board>
    <app-controls
        (direction)="externalDirection = $event"
        (pauseClicked)="togglePauseUI()"
        [isPaused]="isPaused"
    ></app-controls>
</div>