<div class="score-panel">
    <div class="score-item">
        <span class="label label--points">Points</span>
        <span class="value value--points">{{ score }}</span>
    </div>
    <div class="score-item">
        <span class="label label--lives">Lives</span>
        <span class="value value--lives">{{ lives }}</span>
    </div>
    <div class="score-item">
        <span class="label label--score">Score</span>
        <span class="value value--score">{{ highScore }}</span>
    </div>
</div>
