@use 'functions' as *;
@use 'vars' as *;
@use 'mixins' as *;

:host {
    display: block;
    width: 100%;
    .score-panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: calculateRem(10px);
        line-height: $line-height;
        box-sizing: border-box;
    }
    .score-item {
        display: flex;
        flex-direction: column;
        row-gap: calculateRem(8px);
    }
    .label {
        font-weight: $font-weight-bold;
        color: $color-text-dark;
    }
    .value {
        @include font-size($font-size-sm);
        color: $color-text-light;
        border: calculateRem(2px) solid $color-border-panel;
        border-radius: calculateRem(8px);
        text-align: center;
    }
}